:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 230, 230);
}

#request-card {
    width: 50%;
    height: inherit;
    background-color: white;
    border-radius: 1.5rem;
    align-self: center;
    margin-top: 5rem;
}


content {
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: rgba(0, 139, 50, 0.8);
    padding: 1.8rem 1rem .8rem 3rem;
    font-size: 1.7rem;
    color: white;
    border-radius: 1.5rem 1.5rem 0 0;
}

header div {
    width: 93%;
    text-align: center;
}

header > img {
    text-align: right;
}

header > img {
    width: 2rem;
    height: 2rem;
}

.request-form {
    margin: 5rem;
    color: rgba(0, 139, 50, 0.8);
    font-size: 1.7rem;
}

input[type=text] {
    margin: 1rem 0 4rem  0;
    width: 100%;
    padding: 1.5rem 0.7rem;
    border-radius: .5rem;
    border: .1rem solid rgb(206, 202, 202);
}

input[type=submit] {
    padding: 1rem 4.5rem;
    border-radius: .5rem ;
    border: none;
    background-color: rgba(0, 139, 50, 0.8);
    color: white;
    margin-left: 2.5rem;
    font-size: 1.7rem;
}

div > a {
    text-decoration: none;
    color: rgba(0, 139, 50, 0.8);
}

form > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row  wrap;
}

